.CommentContainer {
    margin-bottom: 10px;
}

.Name_For_CommentContainer{
    font-size: 14px;
    margin-bottom: 6px;
}

.Comment_For_CommentContainer{
    font-size: 16px;
}

.Line_For_Comment{
    width: 90%;
    margin-left: 0;
    border-color: #e5e5e5;
    height: 0;
}