.ProductDescriptionContainer {
    display: flex;
    height: fit-content;
    width: 75%;
    margin: auto;
}

.ImgContainer_ForDetails {
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.ImgContainer_ForDetails img {
    width: 250px;
    height: 335px;
}

.Details_ForDetails {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ProductName_ForDetails {
    font-size: 36px;
    margin-top: 30px;
}

.RateSection_ForDetails {
    display: flex;
    align-items: center;
   
    height: 20px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 10px;
}

.StarsRate_ForDetails {
    width: fit-content;
    
}

.StarsRate_ForDetails img {
    margin-right: 4px;
    height: 15px;
}

.Comments_ForDetails {
    width: fit-content;
    display: flex;
    align-items: center;
    height: 100%;
}

.Comments_ForDetails p {
    margin: 0;
    margin-right: 2px;
    margin-top: 4px;
    font-size: 12px;
    cursor: pointer;
}

.Comments_ForDetails img {
    width: 12px;
    height: 10px;
    margin: 0;
    margin-top: 3px;
    cursor: pointer;
}

.PricingContainer_ForDetails {
    display: flex;
    margin-bottom: 17px;
    margin-top: 10px;
}

.Price_ForDetails {
    font-size: 36px;
}

.BasicLabel_ForDetails {
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    background-color: #2ECC71;
    color: white;
    width: 110px;
    margin-left: 20px;
}

.Description_ForDetails {
    border: 1px solid red;
    height: 80px;
    font-size: 14px;
}

.SeeMore {
    font-size: 14px;
    cursor: pointer;
    color: #2980B9;
    margin-top: 8px;
    margin-bottom: 20px;
}

.Btn_ForDetails{
    width: 80%;
    margin-top: 20px;
}