.SideDrawer {
    position: fixed;
    width: 500px;
    height: 100%;
    max-width: 70%;
    right: 0;
    z-index: 200;
    background-color: white;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(100%);
}