.CartToggle {
    cursor: pointer;
}

.PriceShoppingCart {
    background: lightblue;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 117px;
    top: 17px;
    background-color: rgba(231, 76, 60, 0.96);;
}