.Button {
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    color: white;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.Details {
    background-color: #2980B9;
}

.AddToCart {
    background-color: #2ECC71;
}