.CardProduct {
    width: 240px;
    height: 100%;
    border-bottom: 1px solid #D3D3D3;
}

.BasicLabel {
    width: 59px;
    height: 15px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background-color: #11D000;
    color: white;
}

.BasicLabelFaked {
    width: 59px;
    height: 15px;
}

.ProductImgContainer {
    width: 89px;
    height: 119px;
    margin: auto;
}

.ProductImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ProductName {
    margin: 0;
    margin-top: 12px;
    font-size: 16px;
    line-height: 19px;
}

.RateSection {
    display: flex;
    align-items: center;
    height: 10px;
    margin: 0;
}

.StarsRate {
    width: fit-content;
    margin-right: 4px;
}

.Comments {
    width: fit-content;
    display: flex;
    align-items: center;
    height: 100%;
}

.Comments p {
    margin: 0;
    margin-right: 2px;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
}

.Comments img {
    width: 12px;
    height: 10px;
    margin: 0;
    cursor: pointer;
}

.Price {
    margin: 0;
    margin-top: 3px;
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 21px;
}

.ButtonsSection {
    display: flex;
    flex-direction: column;
}

.BtnProduct {
    margin-bottom: 5px;
}