.FilterPricesContainer {}

.FilterPricesContainer p {
    margin-bottom: 10px;
}

.RadioGroupContainer div:nth-child(-n + 2) {
    margin-bottom: 5px;
}

.RadioGroupItem {}

.RadioGroupItem input {
    margin-right: 10px;
}