.CommentsConatiner {
    padding-top: 15px;
    padding-left: 15px;
}

.Title_For_CommentsConatiner {
    margin-bottom: 20px;
    font-size: 18px;
}

.CommentContainer_ForCommentsConatiner {
    padding-left: 20px;
}