.ProductItemCart {
    display: flex;
    height: 70px;
    width: 82%;
    margin-left: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Img_ProductItem {
    width: 60px;
    height: 70px;
}

.Name_ProductItem {
    line-height: 70px;
    width: 50%;
    font-size: 18px;
    margin-left: 20px;
}

.Price_ProductItem {
    display: flex;
    line-height: 70px;
    width: 15%;
    font-size: 18px;
}

.TrashIcon_ProductItem {
    width: 25px;
    height: 25px;
    margin: auto 0;
    cursor: pointer;
}