.MainSection {
  border: 2px solid green;
  display: flex;
  margin-top: 90px;
}

.FilterBarColumn {
  border: 1px solid blue;
  width: 250px;
}

.ProductsColumn {
  border: 1px solid blue;
  width: 100%;
}