.GridContainer {
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center ;
}

.ProductsSectionTitle {
    width: fit-content;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 22px;
    margin-left: 170px;
    border: 2px solid purple;
}

.ProductsGridContainer {
    border: 2px solid purple;
    width: 100%;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-column-gap: 140px;
    grid-row-gap: 30px;
    justify-content: center;
    /* overflow: auto; */
}