.FilterBarSection {
    width: 300px;
    display: flex;
    justify-content: center;
}

.FilterBarContainer {
    width: 175px;
    height: fit-content;
    margin-top: 50px;
}

.FilterBarTitle {
    margin-bottom: 10px;
}

.Basics {
    margin-bottom: 25px;
}

.Prices {
    margin-bottom: 25px;
}
