.FilterBarSection {
    border: 2px solid red;
    width: 260px;
    display: flex;
    justify-content: center;
}

.FilterBarContainer {
    border: 1px solid purple;
    width: 175px;
    height: fit-content;
    margin-top: 50px;
}

.FilterBarTitle {
    margin-bottom: 10px;
}

.Basics {
    margin-bottom: 25px;
}

.Prices {
    margin-bottom: 25px;
}
